<table border="1">
<tbody>
<tr><th>capçalera mac</th><th>capçalera Ip</th><th>Data :::</th></tr>
</tbody>
</table>
<p><strong><a name="Preamble"></a>Preàmbul</strong>: 7 bytes. Indica que la trama comença.</p>
<p><strong><a name="SFD"></a>SFD, Start Frame Delimiter</strong>: 8 bits. Sempre té el valor 0xAB. Indica que la trama comença.</p>
<p><strong><a name="header"></a>Capçalera IP</strong>:</p>
<table border="1">
<tbody>
<tr><th><span style="font-size: xx-small;">00</span></th><th><span style="font-size: xx-small;">01</span></th><th><span style="font-size: xx-small;">02</span></th><th><span style="font-size: xx-small;">03</span></th><th><span style="font-size: xx-small;">04</span></th><th><span style="font-size: xx-small;">05</span></th><th><span style="font-size: xx-small;">06</span></th><th><span style="font-size: xx-small;">07</span></th><th><span style="font-size: xx-small;">08</span></th><th><span style="font-size: xx-small;">09</span></th><th><span style="font-size: xx-small;">10</span></th><th><span style="font-size: xx-small;">11</span></th><th><span style="font-size: xx-small;">12</span></th><th><span style="font-size: xx-small;">13</span></th><th><span style="font-size: xx-small;">14</span></th><th><span style="font-size: xx-small;">15</span></th><th><span style="font-size: xx-small;">16</span></th><th><span style="font-size: xx-small;">17</span></th><th><span style="font-size: xx-small;">18</span></th><th><span style="font-size: xx-small;">19</span></th><th><span style="font-size: xx-small;">20</span></th><th><span style="font-size: xx-small;">21</span></th><th><span style="font-size: xx-small;">22</span></th><th><span style="font-size: xx-small;">23</span></th><th><span style="font-size: xx-small;">24</span></th><th><span style="font-size: xx-small;">25</span></th><th><span style="font-size: xx-small;">26</span></th><th><span style="font-size: xx-small;">27</span></th><th><span style="font-size: xx-small;">28</span></th><th><span style="font-size: xx-small;">29</span></th><th><span style="font-size: xx-small;">30</span></th><th><span style="font-size: xx-small;">31</span></th><th><span style="font-size: xx-small;">32</span></th><th><span style="font-size: xx-small;">33</span></th><th><span style="font-size: xx-small;">34</span></th><th><span style="font-size: xx-small;">35</span></th><th><span style="font-size: xx-small;">36</span></th><th><span style="font-size: xx-small;">37</span></th><th><span style="font-size: xx-small;">38</span></th><th><span style="font-size: xx-small;">39</span></th><th><span style="font-size: xx-small;">40</span></th><th><span style="font-size: xx-small;">41</span></th><th><span style="font-size: xx-small;">42</span></th><th><span style="font-size: xx-small;">43</span></th><th><span style="font-size: xx-small;">44</span></th><th><span style="font-size: xx-small;">45</span></th><th><span style="font-size: xx-small;">46</span></th><th><span style="font-size: xx-small;">47</span></th></tr>
<tr>
<td class="pkthdr" colspan="4">Versió</td>
<td class="pkthdr" colspan="4">IHL</td>
<td class="pkthdr" colspan="8">TOS</td>
<td class="pkthdr" colspan="16">Longitud total</td>
</tr>
<tr>
<td class="pkthdr" colspan="16">Identificació</td>
<td class="pkthdr" colspan="3">Indicadors</td>
<td class="pkthdr" colspan="13">Posició del fragment</td>
</tr>
<tr>
<td class="pkthdr" colspan="8">TTL</td>
<td class="pkthdr" colspan="8">Protocol</td>
<td class="pkthdr" colspan="16">Suma de verificació de la capçalera</td>
</tr>
<tr>
<td class="pkthdr" colspan="48">Adreça IP origen</td>
</tr>
<tr>
<td class="pkthdr" colspan="48">Adreça IP destí</td>
</tr>
<tr>
<td class="pktvarlen" colspan="48">Opcions i farciment :::</td>
</tr>
</tbody>
</table>
<p><span style="font-style: italic;">Versió:</span> Versió del protocol. Amb IPv4: 0100.</p>
<p><span style="font-style: italic;">IHL, Longitud de la capçalera:</span> Longitud en paraules de 4B. La capçalera haurà de ser múltiple de 4B i tindrà com a mínim 20B i com a màxim 60B.</p>
<p><span style="font-style: italic;">TOS, Tipus de servei:</span> Paràmetres que ens indicaran si el paquet ha de tenir un tracte especial.</p>
<p><span style="font-style: italic;">Longitud Total:</span> Longitud total del paquet en bytes. La longitud del paquet serà sempre menor a 65.535B</p>
<p><span style="font-style: italic;">Identificació:</span> Identificador únic del paquet</p>
<p><span style="font-style: italic;">Indicadors:</span> Està composat per 3 bits:</p>
<p style="margin-left: 30px;"><span style="font-style: italic;">bit R (reservat):</span> 0</p>
<p style="margin-left: 30px;"><span style="font-style: italic;">bit DF (don't fragment):</span> 0-&gt; el paquet es pot fragmentar, si cal</p>
<p style="margin-left: 180px;">1-&gt; el paquet no es pot fragmentar</p>
<p style="margin-left: 30px;"><span style="font-style: italic;">bit MF (more fragments):</span> 0-&gt; aquest és l'últim fragment d'un paquet</p>
<p style="margin-left: 180px;">1 -&gt; hi ha més fragments després d'aquest</p>
<p><span style="font-style: italic;">Posició del fragment:</span> Posició del fragment (per poder reconstruir el paquet).</p>
<p><span style="font-style: italic;">TTL, temps de vida:</span> màxim número de routers que pot atravessar el paquet</p>
<p><span style="font-style: italic;">Protocol:</span> Protocol que conté el paquet. Citem els més importants:</p>
<p>TCP: 6 UDP: 17 ICMP: 1</p>
<p><span style="font-style: italic;">Suma de verificació de la capçalera:</span> Control d'errors de la capçalera.</p>
<p><span style="font-style: italic;">Adreça IP origen:</span> IP del host que ha generat el paquet</p>
<p><span style="font-style: italic;">Adreça IP destí:</span> IP del host que ha de rebre el paquet</p>
<p><span style="font-style: italic;">Opcions:</span> Diferents serveis.</p>
<p><span style="font-style: italic;">Farciment:</span> Farciment per garantir que la capçalera arriba a la seva longitud mínima (20B)</p>
<p><strong>Referència (consultar-la per a més detalls):</strong><br /><a href="http://www.networksorcery.com/enp/protocol/ip.htm"> http://www.networksorcery.com/enp/protocol/ip.htm<br /></a></p>
<h2>Exemples de filtres amb Wireshark</h2>
<p>Paquets IP:</p>
<pre style="background-color: #ffcc99;">ip</pre>
<p><span style="background-color: #ffcc99;"> </span>Trames que tinguin com a origen o bé la IP 192.168.0.12 o bé la IP 192.168.0.169 i com a destí la IP 192.168.0.1:</p>
<pre style="background-color: #ffcc99;">(ip.src == 192.168.0.12 || ip.src == 192.168.0.169) &amp;&amp; ip.dst == 192.168.0.1</pre>
<p><span style="background-color: #ffcc99;"> </span>Trames Ethernet que tinguin com a origen la MAC AA:AA:AA:BB:BB:BB i com a MAC destí CC:CC:CC:DD:DD:DD o trames de qualsevol tipus que no continguin paquets IP:</p>
<pre style="background-color: #ffcc99;">(eth.src == AA:AA:AA:BB:BB:BB &amp;&amp; eth.dst == CC:CC:CC:DD:DD:DD) || !ip</pre>
<p>Trames Ethernet amb paquets IP que no siguin TCP:</p>
<pre style="background-color: #ffcc99;">eth.type == 0x800  &amp;&amp; ip.proto != 6</pre>
<p>Paquets ip de mida superior a 1KB (i.e. la seva longitud sigui més gran a 1KB) on la seva capçalera mesuri 20B:</p>
<pre style="background-color: #ffcc99;">ip.len &gt; 1024 &amp;&amp; ip.hdr_len == 20</pre>
<h2>Fragmentació</h2>
<p>La <b>MTU (Maximum Transfer Unit)</b> ens defineix la longitud màxima de dades que es poden transmetre dins d'una trama en un tipus de xarxa concret. A Ethernet la MTU és de 1500B.<br /><br />Per tant, si tenim un paquet IP amb longitud superior a la MTU, hem de fragmentar aquest paquet dividint-lo en paquets més petits. Ens ajudarem del bit MF i del camp de posició del fragment de la capçalera IP, per tal que el host destí pugui reconstruir la informació rebuda.<br /><br />Es pot evitar la fragmentació usant la tècnica del <b>Path MTU discovery</b>, que consisteix en saber quin és el mínim MTU que ens trobarem en el camí que ha d'empendre la nostra trama. Un cop sabem aquest MTU mínim només construirem trames d'aquest tamany. Per saber com funciona aquesta tècnica cliqueu el següent enllaç: <a href="http://www.netheaven.com/pmtu.html">PMTU (Path MTU) Discovery</a>.</p>
