<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://moodle.escoladeltreball.org/draftfile.php/51149/user/draft/374300842/tcp_ip_encapsulation.gif" height="320" width="540" /></p>
<p>Inicialment realitzem alguna acció al nivell superior amb una aplicació (espai d'usuari), des de cercar una web amb un navegador fins a fer un ping amb la terminal.</p>
<p>Cada capa del model TCP/IP afegeix informació (capçalera=header) a les dades de l'aplicació.</p>
<p>Finalment arribem a la trama Ethernet (ethernet frame) que conté tota la informació que viatjarà per la xarxa.</p>
