<table border="1">
<tbody>
<tr><th>Preàmbul</th><th>SFD</th><th>capçalera IEEE 802.3</th><th>Dades :::</th><th>FCS</th></tr>
</tbody>
</table>
<p><strong><a name="Preamble"></a>Preàmbul</strong>: 7 bytes. Indica que la trama comença.</p>
<p><strong><a name="SFD"></a>SFD, Start Frame Delimiter</strong>: 8 bits. Sempre té el valor 0xAB. Indica que el preàmbul acaba i que ara sí que la trama comença.</p>
<p><strong><a name="header"></a>Capçalera IEEE 802.3</strong>:</p>
<table style="width: 1064px; height: 86px;" border="1">
<tbody>
<tr><th><span style="font-size: xx-small;">00</span></th><th><span style="font-size: xx-small;">01</span></th><th><span style="font-size: xx-small;">02</span></th><th><span style="font-size: xx-small;">03</span></th><th><span style="font-size: xx-small;">04</span></th><th><span style="font-size: xx-small;">05</span></th><th><span style="font-size: xx-small;">06</span></th><th><span style="font-size: xx-small;">07</span></th><th><span style="font-size: xx-small;">08</span></th><th><span style="font-size: xx-small;">09</span></th><th><span style="font-size: xx-small;">10</span></th><th><span style="font-size: xx-small;">11</span></th><th><span style="font-size: xx-small;">12</span></th><th><span style="font-size: xx-small;">13</span></th><th><span style="font-size: xx-small;">14</span></th><th><span style="font-size: xx-small;">15</span></th><th><span style="font-size: xx-small;">16</span></th><th><span style="font-size: xx-small;">17</span></th><th><span style="font-size: xx-small;">18</span></th><th><span style="font-size: xx-small;">19</span></th><th><span style="font-size: xx-small;">20</span></th><th><span style="font-size: xx-small;">21</span></th><th><span style="font-size: xx-small;">22</span></th><th><span style="font-size: xx-small;">23</span></th><th><span style="font-size: xx-small;">24</span></th><th><span style="font-size: xx-small;">25</span></th><th><span style="font-size: xx-small;">26</span></th><th><span style="font-size: xx-small;">27</span></th><th><span style="font-size: xx-small;">28</span></th><th><span style="font-size: xx-small;">29</span></th><th><span style="font-size: xx-small;">30</span></th><th><span style="font-size: xx-small;">31</span></th><th><span style="font-size: xx-small;">32</span></th><th><span style="font-size: xx-small;">33</span></th><th><span style="font-size: xx-small;">34</span></th><th><span style="font-size: xx-small;">35</span></th><th><span style="font-size: xx-small;">36</span></th><th><span style="font-size: xx-small;">37</span></th><th><span style="font-size: xx-small;">38</span></th><th><span style="font-size: xx-small;">39</span></th><th><span style="font-size: xx-small;">40</span></th><th><span style="font-size: xx-small;">41</span></th><th><span style="font-size: xx-small;">42</span></th><th><span style="font-size: xx-small;">43</span></th><th><span style="font-size: xx-small;">44</span></th><th><span style="font-size: xx-small;">45</span></th><th><span style="font-size: xx-small;">46</span></th><th><span style="font-size: xx-small;">47</span></th></tr>
<tr>
<td colspan="48"><a href="http://moodle.escoladeltreball.org/Adreça" dest="" :::="" td=""> </a>Adreça destí :::</td>
</tr>
<tr>
<td colspan="48">Adreça origen :::</td>
</tr>
<tr>
<td colspan="16">Tipus</td>
<td colspan="32">Dades :::</td>
</tr>
</tbody>
</table>
<p></p>
<p><strong><a name="Destination Address"></a>Adreça Destí:</strong> 6 bytes. Adreça MAC del node destí. Pot ser una adreça unicast, multicast o broadcast.</p>
<p><strong><a name="Source Address"></a>Adreça Origen:</strong> 6 bytes. Adreça MAC unicast MAC del node origen.</p>
<p><strong><a name="Ethertype"></a>Tipus:</strong> 16 bits. Tipus de protocol de la capa superior.</p>
<p><strong><a name="Dades"></a>Dades: </strong> Mida variable, de 46 a 1500 bytes.</p>
<p><strong><a name="FCS"></a>FCS, Frame Check Sequence</strong>: 4 bytes. CRC usat per verificar la integritat de la trama.</p>
<p><b>Mida total de la trama:</b> de 64 a 1.518 bytes (no es té en compte el preàmbul i el SFD).</p>
<p><strong>Referència: </strong><a href="http://www.networksorcery.com/enp/protocol/IEEE8023.htm">http://www.networksorcery.com/enp/protocol/IEEE8023.htm</a></p>
<h2>Adreça MAC</h2>
<p><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/94/MAC-48_Address.svg/475px-MAC-48_Address.svg.png" /></p>
<h2>Exemples de filtres amb Wireshark</h2>
<p>Trames Ethernet:</p>
<pre style="background-color: #ffcc99;">eth</pre>
<p>Trames que tinguin com a origen o bé la MAC AA:AA:AA:BB:BB:BB o bé la MAC CC:CC:CC:DD:DD:DD:</p>
<pre style="background-color: #ffcc99;">eth.src == AA:AA:AA:BB:BB:BB || eth.src == CC:CC:CC:DD:DD:DD</pre>
<p>Trames que tinguin com a origen la MAC AA:AA:AA:BB:BB:BB i com a MAC destí CC:CC:CC:DD:DD:DD:</p>
<pre style="background-color: #ffcc99;">eth.src == AA:AA:AA:BB:BB:BB &amp;&amp; eth.dst == CC:CC:CC:DD:DD:DD</pre>
<p>Trames que tinguin com a origen la MAC AA:AA:AA:BB:BB:BB i com a MAC destí CC:CC:CC:DD:DD:DD o trames que no continguin paquets IP:</p>
<pre style="background-color: #ffcc99;">(eth.src == AA:AA:AA:BB:BB:BB &amp;&amp; eth.dst == CC:CC:CC:DD:DD:DD) || eth.type != 0x800</pre>
<p>Trames que tinguin per destí l'adreça MAC broadcast i continguin un paquet IP:</p>
<pre style="background-color: #ffcc99;">eth.dst == FF:FF:FF:FF:FF:FF &amp;&amp; eth.type == 0x800</pre>
<p>Trames que tinguin per destí una adreça MAC multicast o broadcast i continguin un paquet IP:</p>
<pre style="background-color: #ffcc99;">eth.ig == 1 &amp;&amp; eth.type == 0x800</pre>
